version: '3.8'

services:
  mongo:
    image: mongo:6
    restart: always
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend_api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_api
    command: node server.js
    env_file: .env
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  game_socket:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: game_socket
    command: node server1.js
    env_file: .env
    depends_on:
      - backend_api
    ports:
      - "5001:5001"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: frontend
    ports:
      - "3001:80"
    depends_on:
      - backend_api
      - game_socket

volumes:
  mongo_data:
