
.instructions-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;

}

.instructions-container h1 {
    text-align: center;
    color: #e74c3c;
}

.instructions-container h2 {
    color: #2c3e50;
    margin-top: 30px;
}

.instructions-container p {
    line-height: 1.6;
    color: #444;
}

.instructions-container ul {
    margin-top: 10px;
    padding-left: 20px;
    color: #444;
}

.instructions-container button {
    margin-top: 40px;
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.instructions-container button:hover {
    background-color: #2471a3;
}

.custom-shadow {
    box-shadow: 0 10px 30px rgba(10, 10, 0, 10);
}