.mode-container {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

.mode-container h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #2c3e50;
}

.mode-button {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    font-size: 1.5em;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;

}

.mode-button.bot {
    background-color: #8e44ad;
}

.mode-button.bot:hover {
    background-color: #71368a;
}

.mode-button.multiplayer {
    background-color: #f39c12;
}

.mode-button.multiplayer:hover {
    background-color: #d68910;
}

